@model RageServers.Web.ViewModels.HomeDetailsViewModel

@{
    ViewBag.Title = Model.IP;
}


<div>
    <table>
        <tr>
            <td>
                IP:
            </td>
            <td>
                @Model.IP
            </td>
        </tr>

        <tr>
            <td>
                Gamemode:
            </td>
            <td>
                @Model.Gamemode
            </td>
        </tr>

        <tr>
            <td>
                Language:
            </td>
            <td>
                @Model.Lang
            </td>
        </tr>

        <tr>
            <td>
                Current Players:
            </td>
            <td>
                @Model.CurrentPlayers
            </td>
        </tr>

        <tr>
            <td>
                Slots:
            </td>
            <td>
                @Model.Slots
            </td>
        </tr>

        <tr>
            <td><span class="font-weight-bold">Day</span></td>
            <td><span class="font-weight-bold">Peak</span></td>
        </tr>

        @foreach (var peakInfo in @Model.PeakPlayers)
        {
            <tr>
                <td>
                    @peakInfo.Key.ToShortDateString()
                </td>
                <td>
                    @peakInfo.Value
                </td>
            </tr>
        }
    </table>
</div>